<ion-app class="page-home" *ngIf="! showSplashScreen">
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
            <ion-row>
                <ion-thumbnail class="tumb">
                    <img src="../assets/img/icon.jpeg">
                </ion-thumbnail>
                <ion-title class="text-center font-bold">Menu</ion-title>
            </ion-row>
            
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>


 <div *ngIf="showSplashScreen">
   <img class="full" src="../assets/img/splash.jpeg">
 </div>
