p{
    font-size: 14px;
    font-family: sans-serif;
    text-align: justify;
    text-indent: 30px;
}

img{
    height: 50% !important;
    width: 90% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }